*, *​:before, *:after { box-sizing: border-box; }

@font-face {
    font-family: 'alegreya';
    src: url('../font/alegreya-sans-web/alegreyasans-light-webfont.eot');
    src: url('../font/alegreya-sans-web/alegreyasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alegreya-sans-web/alegreyasans-light-webfont.woff2') format('woff2'),
         url('../font/alegreya-sans-web/alegreyasans-light-webfont.woff') format('woff'),
         url('../font/alegreya-sans-web/alegreyasans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
​
​
@font-face {
    font-family: 'alegreya';
    src: url('../font/alegreya-sans-web/alegreyasanssc-black-webfont.eot');
    src: url('../font/alegreya-sans-web/alegreyasanssc-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alegreya-sans-web/alegreyasanssc-black-webfont.woff2') format('woff2'),
         url('../font/alegreya-sans-web/alegreyasanssc-black-webfont.woff') format('woff'),
         url('../font/alegreya-sans-web/alegreyasanssc-black-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
​
​
@font-face {
    font-family: 'alegreya';
    src: url('.../font/alegreya-sans-web/alegreyasans-lightitalic-webfont.eot');
    src: url('.../font/alegreya-sans-web/alegreyasans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('.../font/alegreya-sans-web/alegreyasans-lightitalic-webfont.woff2') format('woff2'),
         url('.../font/alegreya-sans-web/alegreyasans-lightitalic-webfont.woff') format('woff'),
         url('.../font/alegreya-sans-web/alegreyasans-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
​
@font-face {
    font-family: 'alegreya';
    src: url('../font/alegreya-sans-web/alegreyasanssc-blackitalic-webfont.eot');
    src: url('../font/alegreya-sans-web/alegreyasanssc-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alegreya-sans-web/alegreyasanssc-blackitalic-webfont.woff2') format('woff2'),
         url('../font/alegreya-sans-web/alegreyasanssc-blackitalic-webfont.woff') format('woff'),
         url('../font/alegreya-sans-web/alegreyasanssc-blackitalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body{
  width: 70%;
	margin: auto;
	font-family: 'alegreya', Arial, sans-serif;
	font-size: 0.875em
	hyphens: auto;  /* césure propre */
    word-wrap: break-word; /* passage à la ligne forcé */
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar{
  margin: 5px;
  margin-top: 50px;
  width:22%;
  float: right;
}

.sidebar a{
  text-decoration: none;
  color: white;
}

.sidebar section{
  margin: 5px;
  margin-bottom: 20px;
}

.sidebar figure{
  position: relative;
  margin: 0;
  z-index: 1;
}

.sidebar figcaption{
  position: absolute;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  top: 15%;
}

.sidebar img{
  width: 100%;
}

.sidebar-ticket{
  background-color: #1FBED6;
  height: 22%;
  color: white;
  text-align: center;
  padding: 25px;
  color: white;
}

.sidebar-ticket strong{
  font-size: 1.3em;
}

.fa-ticket{
  color: #1FBED6;
  text-align: center;
  background-color: white;
  border-radius: 100%;
  padding: 20px;
}

.boutique{
  border-style: solid;
  border-width: 2px;
  border-color: #1FBED6;
  padding: 20px;
  padding-bottom: 30px;
}

.boutique figcaption{
  color: #1FBED6;
  top: 92%;
}

img.social{
  width: 20%;
}

article{
  margin: 5px;
  margin-top: 80px;
  width:75%;
  float: left;
}

.article-header hr{
  width: 28%;
  text-align: left;
  margin: 0;
  height: 1px;
  background-color: black;
}

.article-menu--list{
  padding-left: 0;
}

.article-header a:link, .article-header a:visited {
  color: #1FBED6;
  font-size: 1.2em;
  font-weight: bold;
}

.article-section{
  overflow: auto;
}

.acces-img{
  float: left;
}

.acces-text{
  float: right;
  width: 40%;
  margin-right: 20%;
}

.acces-text *{
  padding: 0;
  margin: 0;
}

.acces-text h4{
  margin-top: 10px;
}

.horaires th{
  display: none;
}

.bandeau{
  background-color: #1FBED6;
  font-weight: normal;
  color: white;
}

p.bandeau{
    width: 96%;
    padding: 2%;
}

.tarifs{
  width: 100%;
}

.tarifs td{
  padding: 1%;
  border-bottom: 1px;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-color: rgba(0, 0, 0, 0.08);
}

.tarifs th{
  padding: 1%;
}

.tarifs--data{
  text-align: center;
}

.horaires td{
  padding-right: 30px;
}

main{
  margin-top: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  overflow: auto;
}

.main-header{
  margin: 5px;
  margin-top: 0px;
  height: 75px;
  background-color: cyan;
  border-style: solid;
  border-width: 1px;
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  z-index: 2;
}

footer{
	height: auto;
	width: auto;
	background-color: #1FBED6;
	padding: 25px;
	color: white;
	overflow: auto;
}

footer p{
	margin :0;
}

footer h4{
	margin :0;
}

footer ul{
	margin: 0;
	padding: 0;
}

footer a{
	color:white;
}

.footer--container{
	max-width: 960px;
	margin: auto;
}

.fa-facebook, .fa-twitter{
	color: #1FBED6;
}

.footer--column{
	width: 25%;
	float: left;
	display: block;
	margin-bottom: 20px;
	box-sizing: border-box;
	padding:0 20px;
}

.footer--mention{
	display: block;
	clear: both;
	text-align: center;
	text-decoration: none;
}

.social--icon {
	float: left;
}

.footer--mention a{
	text-decoration: none;
}

.img--presse{
	height: 25px;
	margin-top: 5px;
}

li{
  list-style-type: none;
}

nav li{
  display: inline;
}

@media screen and (max-width: 800px){
	.footer--column{
		width: 50%;
	}
	.footer--column:nth-child(3){
		clear: both;
	}
}

@media screen and (max-width: 500px){
	.footer--column{
		width: 100%;
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(255,255,255,0.3);
	}
}
